node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.preview.example
!.env.production.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results

/downloaded_data
/notes
